.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  // line-height: 1.14;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--primary-bg-color);
  padding-left: 20px;
  @media screen and (min-width: 768px) {
    // height: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    padding-left: 32px;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.33;
    padding-left: 16px;
    justify-content: space-between;
  }
}

.logo {
  margin-right: 61px;
  @media screen and (min-width: 768px) {
    margin-right: 127px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 548px;
  }
}

.header_navLink {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 64px;
  }
}

.link {
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    margin-right: 60px;
    &:last-child {
      margin-right: 16px;
    }
  }
  @media screen and (min-width: 1280px) {
    margin-right: 80px;
  }
}

.activeStyle {
  color: var(--primary-text-color);
  cursor: default;
  border-bottom: 1px solid var(--accent-nav-color);

  @media screen and (min-width: 768px) {
    margin-right: 60px;
    &:last-child {
      margin-right: 16px;
    }
  }

  @media screen and (min-width: 1280px) {
    margin-right: 80px;
  }
}

.name_wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
   margin-right: 20px;
  }
}

.letter_wrapper {
  
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: var(--modal-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;


  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.firs_letter {
  font-weight: 700;
  line-height: 1.33;
  color: var(--secondary-text-color);
  margin-left: 0;
}

.name {
  display: none;
  @media screen and (min-width: 768px) {
    width: 45px;
    display: inline-block;
    white-space: nowrap;
    animation: text 8s infinite linear;
    padding-left: 100%;
    text-overflow: ellipsis;
    margin-left: 10px;
  }
}

.flex {
  display: flex;
}

.navIconMenu_wrapper {
  display: flex;
  width: 51px;
  height: 67px;
  background-color: var(--primary-bg-color);
  border-left: 1px solid var(--border-color);
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}

.navIcon_btn {
  width: 60px;
  height: 69px;
  padding: 0;
  padding-right: 0;
  display: block;
  background-color: var(--primary-bg-color);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px solid rgba(0, 18, 47, 0.15);
  text-decoration: none;
}

.navIcon_signOut {
  display: flex;
}

.text_transform {
  width: 43px;
  text-align: center;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    margin-left: 8px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 20px;
  }
}

@keyframes text {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-250%, 0);
  }
}
