.materialsPage_bg {
    margin-left: auto;
    min-height: 600px;
    background-image: url("../../images/MaterialsPage/useful_bg_mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    // padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        background-image: url("../../images/MaterialsPage/useful_bg_tablet.png");
        padding-top: 180px;
    }

    @media screen and (min-width: 1280px) {
        background-image: url("../../images/MaterialsPage/useful_bg_desktop.png");
        padding-top: 100px;
    }
}

.materialsPage_wrapper {
    margin: 0 auto;
    width: 207px;

    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        width: 336px;
    }

    @media screen and (min-width: 1280px) {
        width: 396px;
    }
}

.subTitle {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;

    @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 1.3;
    }
}

.link {
    color: #000;
    font-size: 10px;
    line-height: 1.6;
    font-weight: 500;
    border-bottom: 150px;
    border-color: #000;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.57;
    }
}

.list_item {
    margin-bottom: 10px;
}