.materialsPage_bg {
    height: 1000px;
    // width: 1280px;
    background-image: url("../../images/MaterialsPage/useful_bg_mobile.png");
    background-repeat: no-repeat;

    @media screen and (min-width: 768px){
        background-image: url("../../images/MaterialsPage/useful_bg_tablet.png");
    }

    @media screen and (min-width: 1280px) {
        background-image: url("../../images/MaterialsPage/useful_bg_desktop.png");
    }
}

.materialsPage_wrapper {
    width: 396px;
}