.main {
  padding-top: 35px;
  padding-bottom: 40px;
  background-color: var(--primary-bg-color);

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 125px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 135px;
  }

  &__description {
    font-family: "Montserrat";
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;

    text-align: center;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
      width: 650px;
      margin: 0 auto 32px;
      font-size: 22px;
      line-height: 1.3;
    }
  }

  &__line {
    display: block;
    width: 130px;
    margin: 0 auto 12px;

    opacity: 0.15;
    border: 1px solid #00122f;

    @media screen and (min-width: 768px) {
      width: 320px;
    }
  }

  &__author {
    margin-bottom: 8px;

    font-family: "Montserrat";
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;

    text-align: center;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 1.2;
    }
  }

  &__authorDescription {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    margin-bottom: 40px;

    text-align: center;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 80px;
    }
  }
}

.btn__QA {
  display: block;
  width: 280px;
  text-decoration: none;
  margin: 0 auto 20px;

  padding-top: 60px;
  padding-bottom: 45px;

  background: var(--second-button-color);

  @media screen and (min-width: 768px) {
    width: 400px;
    padding-top: 60px;
    padding-bottom: 45px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0 32px 0 0;
  }
}

.btn__QaDescription {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0 auto;

  display: block;
  width: 177px;
  height: 59px;

  color: var(--third-text-color);

  @media screen and (min-width: 768px) {
    width: 376px;
    height: 79px;
    font-size: 32px;
    line-height: 1.2;

    text-align: center;
  }
}

.btn__test {
  display: block;
  width: 280px;
  text-decoration: none;
  margin: 0 auto;

  padding-top: 60px;
  padding-bottom: 45px;

  background: var(--accent-button-color);

  @media screen and (min-width: 768px) {
    width: 400px;
    padding-top: 60px;
    padding-bottom: 45px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0;
  }
}

.btn__testDescription {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;

  display: block;
  width: 105px;
  height: 59px;
  margin: 0 auto;

  color: var(--third-text-color);

  @media screen and (min-width: 768px) {
    font-size: 30px;
    line-height: 1.2;

    width: 132px;
    height: 79px;
    text-align: center;
  }
}

.btn__icon {
  display: block;
  margin: 32px auto 0;

  @media screen and (min-width: 768px) {
    margin: 12px auto 0;
  }
}

.btn__wrapper {
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: center;
  }
}
