.contactItem {
    width: 288px;
    height: 370px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    @media screen and (max-width: 1279px) {
       width: 336px;
    }
    @media screen and (max-width: 767px)  {
        width: 280px;
    }
}

// .contactItem:nth-child(9) {
//     @media screen and (max-width: 1471px) {
//         margin-right: 16px;
//      }
    
//     @media screen and (min-width: 1279px) {
//         margin-right: auto;
//      }
// }

// .contactItem:nth-child(10) {
//     @media screen and (max-width: 1471px) {
//         margin-left: 16px;
//      }
//     @media screen and (max-width: 1279px) {
//         margin-left: auto;
//      }
// }

.avatar {
    width: 288px;
    height: 244px;
    object-fit: cover;
    @media screen and (max-width: 1279px) {
        width: 336px;
     }
     @media screen and (max-width: 767px)  {
        width: 280px;
    }
     
}

.conatcInf {
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 23px;
}


.name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 8px;
}



.jodTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 8px;
}

.comment {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #000000;
}
