:root {
  --primary-bg-color: #f5f6fb;
  --second-bg-color: #f5f6fb;
  --footer-bg-color: #02172a;
  --modal-bg-color: #ffffff;
  --second-button-color: #02172a;
  --accent-button-color: #ff6b01;
  --accent-nav-color: #ff6b09;
  --check-color: #ff6b09;
  --primary-text-color: #000000;
  --secondary-text-color: #555555;
  --third-text-color: #ffffff;
  --border-color: #e2e3e5;
  --border-check-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.4);
  --google-btn-bg: #fafafa;
  --contacts-vector: #00122f;
  --admin-svg: #cccccc;
  --question-wrapper-color: rgba(2, 23, 42, 0.1);
  --test-main-pages-line-color: #00122f;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  background-color: var(--primary-bg-color);
  font-weight: 400;
  line-height: 1.57;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
